.layout {
  min-height: 100vh;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 100%;
  background: #ffffff;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .layout {
    min-height: 100vh;
  }
}

